@using Microsoft.AspNet.Identity



<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="background-color: #E0dddd ">
    <nav class="navbar fixed-top  border border-secondary border-3" style="background-color: #2b7ead;">
        <div class="container-md">
            <a class="navbar-brand">
                <img src="~/Content/imgfixa/cp2logo.png" alt="Logo" width="200" height="130" class="d-inline-block align-text-top">
            </a>
            <span class="navbar-text fs-1 p-3 bg-info bg-opacity-10 border border-info rounded-end rounded-start" style="font-family:fantasy">BIBLIOTECA DO COLÉGIO PEDRO II - EN II</span>
            <button class="navbar-toggler border border-info bg-opacity-10" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" style="height: 100px; width: 100px">
                <span class="navbar-toggler-icon" style="height: 80px; width: 80px"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Sua conta foi Reprovada por um Admin</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </nav>
</body>
</html>
<br />
<br />
<br />
<br />
<br />
<br />

<div style="" class="fw-bolder col-12 h1 text-center">CONTA REPROVADA!😯</div>
<br />
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">

        <p class="h3 border-3 text-center p-3 bg-danger bg-opacity-50 border border-dark rounded-end rounded-start">
            Infelizmente, seus dados informados
            no cadastro de sua conta estão errados
            e vão contra os dados fornecidos pelo Colégio.😑
        </p>

    </div>
    <div class="col-3"></div>
</div>

<div class="col-12 h1 text-center">⬇</div>

<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="text-center border-3 p-3 bg-warning bg-opacity-10 border border-dark rounded-end rounded-start">
            <p class="h4">Volte ao Menu e tente se registrar novamente 😊</p>
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()

                    <a class="btn btn-secondary" href="javascript:document.getElementById('logoutForm').submit()">Fazer Logout <i class="bi bi-box-arrow-left"></i></a>
                }
            }
            else
            {
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Registre-se", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li>@Html.ActionLink("Logon", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                </ul>
            }
        </div>
    </div>
    <div class="col-4"></div>
</div>



