@model SOLUCAO_TCC.Models.Obra

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5">Certeza que deseja pedir Empréstimo desta Obra?</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">


            <dl class="dl-horizontal">

                <dt>
                    Nome:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nome)
                </dd>

                <dt>
                    Data Inicial do Empréstimo:
                </dt>

                <dd>
                    @DateTime.Today.ToShortDateString()
                </dd>

                <dt>
                    Data Final do Empréstimo:
                </dt>

                <dd>
                    @DateTime.Today.AddDays(15).ToShortDateString()
                </dd>

            </dl>

            @using (Html.BeginForm("Emprestimos", "Obra", FormMethod.Post))
            {
                @Html.HiddenFor(model => model.Cod_Obra)
                <div class="form-actions no-color">
                    <button class="btn btn-success">Solicitar Empréstimo <i class="bi bi-arrows-collapse"></i></button>
                </div>
            }


            <br />
        </div>
        </div>
    </div>


